<!DOCTYPE html>
<html lang="ru" ng-app="app">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
	<title>Likearts</title>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="css/dist/bundle.min.css">
</head>
<body ng-cloak ng-controller="LoadCtrl">
<div class="wrapper" ng-class="{smoothOpacity:onload}">
	<div class="container-fluid"> <!-- main container -->
		<header ng-controller="NavBarCtrl" md-whiteframe="4" class="header-fixed">
			<md-content>
				<md-toolbar>
					<div class="md-toolbar-tools header">
						<md-button ng-click="toggle()" ng-hide="isOpen()" class="md-icon-button" aria-label="header">
							<md-icon md-font-set="material-icons">menu</md-icon>
						</md-button>

						<a href="/"><div class="logo"></div></a>
						<span flex></span> 
						<nav>
							<div class="header__links">
								<md-button ng-href="/#">Главная</md-button>
								<md-button ng-href="/#">Блог</md-button>
							</div> 
						</nav>
					</div>
				</md-toolbar>
			</md-content>
		</header>
		 <section layout="row" flex>
   			<md-sidenav class="md-sidenav-left position-fixed" md-component-id="menu" md-whiteframe="2">
     			<md-toolbar>
       			<h1 class="md-toolbar-tools header-menu"><div class="logo logo--invert"></div></h1>
      		</md-toolbar>
      		<md-divider></md-divider>
      		<nav>
						<md-list ng-controller="LinksCtrl">
						  <md-list-item ng-click="goTo('/#')">
						  	<a href="/!#"></a>
						    <p>Главная</p>
						  </md-list-item>
						  <md-list-item ng-click="goTo('/#')">
						  	<a href="/!#"></a>
						    <p>Блог</p>
						  </md-list-item>
						</md-list>
					</nav>
      		<md-divider></md-divider>
      		<md-content>
      			<div ng-controller="SocialCtrl" class="social">
      				<div hm-tap="vk()" class="social__btn social__btn--vk"></div>
      				<div hm-tap="ok()" class="social__btn social__btn--ok"></div>
      				<div hm-tap="fb()" class="social__btn social__btn--fb"></div>
      				<div hm-tap="tw()" class="social__btn social__btn--tw"></div>
      			</div>
      		</md-content>
    		</md-sidenav>
  		</section>
		<div class="container">
			<div ng-controller="PostsCtrl" class="row">  
					<div ng-repeat="card in cards track by card.id" class="col-sm-6 col-md-4 no-padding">
				      <md-card class="paper-shadow-z1 card">
				        <img ng-src="{{::card.img}}" class="md-card-image" alt="{{::card.alt}}">
				        <md-card-title>
				          <md-card-title-text>
				            <span class="md-headline">{{::card.title}}</span>
				          </md-card-title-text>
				        </md-card-title>
				        <md-card-content>
				          <p class="card__anonce">{{::card.anonce}}</p>
				        </md-card-content>
				        <div class="card__action">
				          <md-button md-no-ink class="md-primary">Подробнее</md-button>
				        </div>
				      </md-card> 
					</div>
		  </div>
		  <div id="end-content"></div>
		</div>

	</div> <!-- main container -->
</div>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-aria/angular-aria.min.js"></script>
<script src="bower_components/angular-material/angular-material.min.js"></script>
<script src="bower_components/hammerjs/hammer.min.js"></script>
<script src="bower_components/AngularHammer/angular.hammer.min.js"></script>
<script src="app/dist/bundle.min.js"></script>
</body>
</html>