@import '../../node_modules/nib/'

//material colors
$dark-primary-color = #512DA8;
$primary-color = #673AB7; 
$light-primary-color = #D1C4E9;
$accent-color = #FF4081;
$primary-text-color = #212121;
$secondary-text-color = #727272;
$divider-color = #B6B6B6;
$bg-color = #FAFAFA;

//base height
$base-heihgt = 32px;

//helpers
.no-padding
	padding 0
	margin 0
	
.display-table
	display table

.display-table-cell
	display table-cell
	vertical-align middle
	

.container-fluid
	padding 0

body
	background $bg-color
	font-family 'Roboto'
	font-smoothing antialiased
	overflow-scrolling touch

a, a:focus
	outline none

.header
	background $primary-color
	height $base-heihgt * 2
	max-height $base-heihgt * 2
	@media screen and (max-width: 600px)
		height ($base-heihgt * 2) - 8
		max-height ($base-heihgt * 2) - 8
	
.logo
	height 46.6666px
	width 171.3333px
	background-image url(../../img/logo.png)
	background-size cover
	background-repeat no-repeat
	background-position center
	@media screen and (max-width: 960px)
		height 35px
		width 128.5px
	
.header__links
	display: flex;
	align-items: center;
	flex-direction: row;
	@media screen and (max-width: 600px)
		display none