<div class="order">
	<h2 class="order__title">Давайте рассчитаем стоимость</h2>
	<div class="paper-shadow-z1 order-container">
		<form name="myForm">
			<div class="input-container">
				<label class="form-label form-label--input">Какой проект Вам необходим?</label>
				<md-input-container class="md-block">
					<md-select placeholder="Выбрать..." ng-model="type" ng-change="calculate()" required>
						<md-option value="0">Продающий лендинг</md-option>
						<md-option value="1">Промо-сайт</md-option>
						<md-option value="2">Сайт-визитка</md-option>
						<md-option value="3">Корпоративный сайт</md-option>
						<md-option value="4">Интернте-магазин</md-option>
					</md-select>
				</md-input-container>
			</div>
			<div class="chekbox-container" layout="column">
				<label class="form-label form-label--chekbox">Дополнительные услуги:</label>
				<md-checkbox ng-model="service.cb1" ng-change="calculate()" aria-label="SEO">
					SEO-оптимизация
				</md-checkbox>
				<md-checkbox ng-model="service.cb2" ng-change="calculate()" aria-label="Yandex.Direct">
					Продвижение в Яндекс.Директ
				</md-checkbox>
				<md-checkbox ng-model="service.cb3" ng-change="calculate()" aria-label="Service">
					Техническое обслуживание сайта на год
				</md-checkbox>
			</div>
			<div class="calculation">
				<span class="calculation__result">Итого: {{cost}} руб.</span>
			</div>
			<div class="note">* Сумма может меняться в процессе согласования</div>
			<div class="order-btn" layout="row" layout-align="center center">
				<md-button hm-tap="showDialog($event)" class="md-raised md-primary order-btn__btn">Заказать разработку...</md-button>
			</div>
		</form>
	</div>
</div>