<div class="order">
	<h2 class="order__title">Давайте рассчитаем стоимость</h2>
	<div class="paper-shadow-z1 order-container">
		<form name="myForm">
			<div class="input-container">
				<label class="form-label form-label--input">Какой проект Вам необходим?</label>
				<md-input-container class="md-block">
					<md-select placeholder="Выбрать..." ng-model="select" ng-change="calculate()" required>
						<md-option ng-repeat="project in projects track by $index" value="{{::$index}}">{{::project.name}}</md-option>
					</md-select>
				</md-input-container>
			</div>
			<div class="chekbox-container" layout="column">
				<label class="form-label form-label--chekbox">Дополнительные услуги:</label>
				<md-checkbox ng-repeat="service in services" ng-model="service.checked" ng-change="calculate()" aria-label="Service">
					{{::service.name}}
				</md-checkbox>
			</div>
			<div class="calculation">
				<span class="calculation__result">Итого: {{cost}} руб.</span>
			</div>
			<div class="note">* Сумма может меняться в процессе согласования</div>
			<div class="order-btn" layout="row" layout-align="center center">
				<md-button hm-tap="showDialog($event)" class="md-raised md-primary order-btn__btn">Заказать разработку...</md-button>
			</div>
		</form>
	</div>
</div>