<div ng-controller="PostsCtrl" class="row">
	<div ng-repeat="card in cards track by $index" class="col-sm-6 col-md-4 no-padding">
		<md-card aria-haspopup="true" class="paper-shadow-z1 card">
			<img ng-src="{{::card.img}}" class="md-card-image" alt="{{::card.alt}}">
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">{{::card.title}}</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
				<p class="card__anonce">{{::card.anonce}}</p>
			</md-card-content>
			<div class="card__action">
				<md-button aria-haspopup="true" md-no-ink class="md-primary">Подробнее</md-button>
			</div>
		</md-card>
	</div>
</div>
<div id="end-content"></div>