<div class="cover-landing">
	<h1 class="cover-landing__title">
		<span class="cover-landing__accent-text">10 дней</span> от звонка до качественного сайта
	</h1>
	<h2 class="cover-landing__title-second">
		Мы делаем сайты на заказ для вашего бизнеса
	</h2>
	<md-button class="md-raised md-primary cover-landing__btn">Рассчитать стоимость</md-button>
</div>
<div class="clients">
	<div class="clients-container">
		<h2 class="clients-title">Любимые клиенты</h2>
		<div class="clients-logo">
			<div class="clients-logo__item" style="background-image:url(../../img/landing/partners/5.png)"></div>
			<div class="clients-logo__item" style="background-image:url(../../img/landing/partners/2.png)"></div>
			<div class="clients-logo__item" style="background-image:url(../../img/landing/partners/3.png)"></div>
			<div class="clients-logo__item" style="background-image:url(../../img/landing/partners/4.png)"></div>
			<div class="clients-logo__item" style="background-image:url(../../img/landing/partners/1.png)"></div>
			<div class="clients-logo__item" style="background-image:url(../../img/landing/partners/2.png)"></div>
		</div>
	</div>
</div>
<div id="end-content"></div>