<div class="cover-landing">
	<h1 class="cover-landing__title">
		<span class="cover-landing__accent-text">10 дней</span> от звонка до качественного сайта
	</h1>
	<h2 class="cover-landing__title-second">
		Мы делаем сайты на заказ для вашего бизнеса
	</h2>
	<div ng-controller="CalculateBtnCtrl">
		<md-button hm-tap="go()" class="md-raised md-primary cover-landing__btn">Рассчитать стоимость проекта</md-button>
	</div>
</div>
<div id="scroll-here" ng-controller="OrderCtrl" class="order">
	<h2 class="order__title">Давайте рассчитаем стоимость</h2>
	<div class="paper-shadow-z1 order-container">
		<form name="myForm">
			<div class="input-container">
				<label class="form-label form-label--input">Какой проект Вам необходим?</label>
				<md-input-container class="md-block">
					<md-select placeholder="Выбрать..." ng-model="type" ng-change="calculate()" required>
						<md-option value="0">Продающий лендинг</md-option>
						<md-option value="1">Промо-сайт</md-option>
						<md-option value="2">Сайт-визитка</md-option>
						<md-option value="3">Корпоративный сайт</md-option>
						<md-option value="4">Интернте-магазин</md-option>
					</md-select>
				</md-input-container>
			</div>
			<div class="chekbox-container" layout="column">
				<label class="form-label form-label--chekbox">Дополнительные услуги:</label>
				<md-checkbox ng-model="service.cb1" ng-change="calculate()" aria-label="SEO">
					SEO-оптимизация
				</md-checkbox>
				<md-checkbox ng-model="service.cb2" ng-change="calculate()" aria-label="Yandex.Direct">
					Продвижение в Яндекс.Директ
				</md-checkbox>
				<md-checkbox ng-model="service.cb3" ng-change="calculate()" aria-label="Service">
					Техническое обслуживание сайта на год
				</md-checkbox>
			</div>
			<div class="calculation">
				<span class="calculation__result">Итого: {{cost}} руб.</span>
			</div>
			<div class="note">* Сумма может меняться в процессе согласования</div>
			<div class="order-btn" layout="row" layout-align="center center">
				<md-button hm-tap="showDialog($event)" class="md-raised md-primary order-btn__btn">Заказать разработку...</md-button>
			</div>
		</form>
	</div>
</div>
<div ng-controller="PortfolioCtrl" class="portfolio">
	<h2 class="portfolio__title">Примеры работ</h2>
	<div class="portfolio-container">
		<div ng-repeat="item in items track by $index" class="portfolio-item" style="background-image:url({{::item.img}});">
			<div class="paper-shadow-z2 portfolio-item__cover">
				<div>
					<div class="portfolio-item__title">{{::item.title}}</div>
					<div class="portfolio-item__text">{{::item.text}}</div>
				</div>
				<span ui-sref="portfolio({id:{{::item.id}}})" class="portfolio-item__btn">Подробнее</span>
			</div>
			<span ui-sref="portfolio({id:{{::item.id}}})" class="portfolio-item__btn--mobile">
				<i class="material-icons portfolio-item__icon">visibility</i>
			</span>
		</div>
	</div>
</div>
<div id="end-content"></div>