<md-dialog class="dialog" aria-label="Заказать звонок">
	<form name="phoneOrderForm" novalidate>
		<md-toolbar>
			<div class="md-toolbar-tools dialog-toolbar">
				<h2 class="dialog-toolbar__title">Заказать звонок</h2>
				<span flex></span>
				<md-button class="md-icon-button" hm-tap="cancel()">
					<md-icon class="dialog-toolbar__icon" md-font-set="material-icons">close</md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content class="dialog-content">
			<md-input-container class=" md-icon-float md-block">
				<label>Имя</label>
				<md-icon md-font-set="material-icons dialog-content__icon">person</md-icon>
				<input name="userName" ng-model="user.name" required>
			</md-input-container>
			<md-input-container class="md-icon-float md-block">
				<label>Телефон</label>
				<md-icon md-font-set="material-icons dialog-content__icon">phone</md-icon>
				<input name="userPhone" ng-model="user.phone" required>
			</md-input-container>
		</md-dialog-content>
		<md-dialog-actions layout="row">
			<span flex></span>
			<md-button hm-tap="send()" ng-disabled="phoneOrderForm.$invalid" class="md-primary md-hue-1">
				Перезвоните мне
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>