@import '../../node_modules/nib/'
@import '../fonts/fonts.css'


//material colors
$dark-primary-color = #512DA8;
$primary-color = #673AB7; 
$light-primary-color = #D1C4E9;
$accent-color = #FF4081;
$primary-text-color = #212121;
$secondary-text-color = #727272;
$divider-color = #B6B6B6;
$bg-color = #FAFAFA;
$text-color = rgba(0,0,0,0.87);

//base height
$base-height = 32px;

//helpers
.no-padding
	padding 0
	margin 0
	
.paper-shadow-z1
	box-shadow 0 1px 6px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.12)!important
	
.paper-shadow-z2
	box-shadow 0 3px 10px rgba(0,0,0,0.16), 0 3px 10px rgba(0,0,0,0.23)!important
	
.paper-shadow-z3
	box-shadow 0 10px 30px rgba(0,0,0,0.19), 0 6px 10px rgba(0,0,0,0.23)!important
	
.paper-shadow-z4
	box-shadow 0 14px 45px rgba(0,0,0,0.25), 0 10px 18px rgba(0,0,0,0.22)!important
	
.paper-shadow-z5
	box-shadow 0 19px 60px rgba(0,0,0,0.3), 0 15px 20px rgba(0,0,0,0.22)!important
	
.line-clamp
	overflow hidden
	display -webkit-box
	-webkit-line-clamp 10
	-webkit-box-orient vertical
	text-overflow ellipsis
  
html
	overflow-y scroll
	overflow-x hidden!important
	
body
	background $bg-color
	font-family 'Roboto'
	font-smoothing antialiased
	overflow-scrolling touch

a, a:hover, a:active, a:focus
	outline none
	text-decoration none

.container-fluid
	background $bg-color
	padding 0
	
.header-fixed
	position fixed
	width 100%
	z-index 9
	
.position-fixed
	position fixed
	
.md-sidenav-backdrop
	position fixed

.header
	background #fff
	height $base-height * 2
	max-height $base-height * 2
	@media screen and (max-width: 600px)
		height ($base-height * 2) - 8
		max-height ($base-height * 2) - 8
	
.logo
	height 50px
	width 50px
	position absolute
	top calc(50% - 25px)
	left calc(50% - 25px)
	background-image url(../../img/logo.png)
	background-size cover
	background-repeat no-repeat
	background-position center
	cursor pointer
	@media screen and (max-width: 600px)
		height 40px
		width 40px
		top calc(50% - 20px)
		left calc(50% - 20px)
		
.logo--invert
	background-image url(../../img/logo-invert.png)
	left 16px
	cursor default


.header__links
	display: flex;
	align-items: center;
	flex-direction: row;
	@media screen and (max-width: 1200px)
		display none
		
.type-color
	color $dark-primary-color!important

.header-menu
	@extend .header
	background-color #FFF
	color $secondary-text-color
	text-transform uppercase
	letter-spacing 3px
	cursor default
	
.menu__item, menu__item:hover, menu__item:focus, menu__item:active
	color $primary-text-color!important

.social
	padding 8px
	display flex
	flex-direction row
	flex-wrap nowrap
	justify-content space-between
	
.social__btn
	width 40px
	height 40px
	margin 8px
	border-radius 50%
	cursor pointer
	background-size cover
	background-repeat no-repeat
	background-position center
	
.social__btn:hover
	background-size cover
	background-repeat no-repeat
	background-position center
	
.social__btn--vk
	background-image url(../../img/social/vk.png)
	
.social__btn--ok
	background-image url(../../img/social/ok.png)
	
.social__btn--fb
	background-image url(../../img/social/fb.png)
	
.social__btn--tw
	background-image url(../../img/social/tw.png)

.container
	box-sizing border-box
	margin 0 auto
	padding-bottom $base-height
	padding-top ($base-height * 2) + 8
	@media screen and (max-width: 600px)
		padding-top ($base-height * 2)
		
.card
	display block
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	
.card:hover
	@extend .paper-shadow-z3
	
.card__action
	padding 8px
		
.md-primary
	color $accent-color!important

.card__anonce
	max-height 13em
	@extend .line-clamp

.wrapper
	opacity 0
	transition opacity 0.6s ease-in-out

.smoothOpacity
	opacity 1

.fab-container
	position fixed
	bottom 20px
	right 20px
	z-index 2
	@media screen and (max-width: 600px)
		bottom 10px
		right 10px
	
.fab-rotate
	transform rotate(45deg)

.fab
	background-color $accent-color
	
.fab:hover
	@extend .paper-shadow-z1
	
.fab-icon
	transition all .2s ease-in-out
	
.fab-icon-hover
	@extend .fab-rotate
	transition all .2s ease-in-out
		
.fab-mini-icon
	color $secondary-text-color!important

.cover-post
	display flex
	flex-direction row
	flex-wrap wrap
	justify-content center
	align-items center
	width 100%
	height 550px
	position relative
	margin-top ($base-height * 2)
	background-repeat no-repeat;
	background-size cover
	background-position center
	transition height .2s ease-in-out
	@media screen and (max-width: 600px)
		margin-top ($base-height * 2) - 8
		height 200px
		
.cover-post::after
	content ''
	width 100%
	height 550px
	position absolute
	top 0
	left 0
	background-color #000
	opacity 0.5
	transition height .2s ease-in-out
	@media screen and (max-width: 600px)
		height 200px

.cover-post__title
	color #FFF
	z-index 1
	font-weight 700
	transition font-size .2s ease-in-out
	@media screen and (max-width: 600px)
		font-size 2em
	
.post-content
	padding 40px 5% 40px 5%
	font-family 'Lora', serif
	font-size 1.5em
	color $primary-text-color
	line-height 32px
	transition font-size .2s ease-in-out
	@media screen and (max-width: 600px)
		font-size 1em
		line-height 22px
	
.post-content p
	margin-bottom 25px
	
.cover-landing
	display flex
	flex-direction row
	flex-wrap wrap
	justify-content center
	align-items center
	align-content center 
	width 100%
	min-height 100vh
	height auto
	background-image url(/img/landing/1.jpg)
	background-position center
	background-repeat no-repeat
	background-size cover
	@media screen and (max-width: 600px)
		margin-top ($base-height * 2) - 8
		min-height 300px

.cover-landing::after
	content ''
	width 100%
	min-height 100vh
	height auto
	position absolute
	top 0
	left 0
	background-image linear-gradient(360deg, #3F51B5, #00BCD4)
	opacity 0.95
	@media screen and (max-width: 600px)
		margin-top ($base-height * 2) - 8
		min-height 300px
	
.cover-landing__title
	flex 0 100%
	z-index 1
	color #FFF
	text-transform uppercase
	font-weight 300
	text-shadow 0 0 0.5px #777
	margin 0
	padding 10px 30px 10px 30px
	text-align center
	margin-top $base-height * 2
	@media screen and (max-width: 600px)
		font-size 1.4em
		text-shadow none
		margin-top 0
    
.cover-landing__accent-text
	color $accent-color
   
.cover-landing__title-second
	flex 0 100%
	z-index 1
	color #FFF
	font-weight 300
	text-shadow 0 0 0.5px #777
	text-align center
	margin 0
	padding 10px 30px 10px 30px
	font-size 1.8em
	@media screen and (max-width: 600px)
		display none
    
.cover-landing__btn
	z-index 1
	margin-top 30px
	padding 10px 60px 10px 60px
	color #FFF!important
	background #EC407A!important
	@media screen and (max-width: 600px)
		padding 8px 12px 8px 12px
		font-size 0.8em
    
.btn-back
	position absolute
	top 20px
	left 0
	z-index 1
    
.btn-back__icon
	color #FFF
	
.header__phone
	border-bottom 1px dashed $dark-primary-color
	margin 0 16px 0 16px
	
.dialog
	width 400px
	
.dialog-toolbar
	background-color #FFF
	
.dialog-toolbar h2
	@media screen and (max-width: 600px)
		font-size 0.8em
	
.dialog-toolbar__title
	color $primary-text-color
	
.dialog-toolbar__icon
	color $divider-color!important
	
.dialog-content
	max-width 800px
	max-height 810px
	padding 16px
	
.dialog-content__icon
	color $secondary-text-color
    
.phone-btn
	display none
	@media screen and (max-width: 1200px)
		display block
	
.menu__phone
	padding 18px 16px 18px 16px
	font-size 1.4em
	color $secondary-text-color
	font-weight 300
	margin 0 

.order
	width 100%
	min-height 500px
	height auto
	
.order__title
	margin 0
	text-align center
	padding 60px 30px 60px 30px
	font-weight 300
	@media screen and (max-width: 600px)
		font-size 1.5em
		padding 60px 30px 30px 30px
	
.order-container
	max-width 700px
	margin 0 auto
	padding 20px
	background-color #FFF
	border-radius 2px
	@media screen and (max-width: 600px)
		border-radius 0
	
.form-label
	font-weight 400

.form-label--input
	margin 0
	
.form-label--chekbox
	margin 20px 0 30px 0
	
.calculation__result
	font-weight 400
	font-size 2em
	@media screen and (max-width: 600px)
		font-size 1.8em
	
.order-btn__btn
	z-index 1
	width 100%
	margin 20px 0 0 0
	color #FFF!important
	background #EC407A!important
	
.note
	color $secondary-text-color
	font-weight 300
	margin-top 10px
	font-size 0.8em
	
md-toast
	position fixed!important
	
.portfolio
	width 100%
	min-height 500px
	height auto
	
.portfolio__title
	margin 0
	text-align center
	padding 60px 30px 30px 30px
	font-weight 300
	@media screen and (max-width: 600px)
		font-size 1.5em
		padding 60px 30px 30px 30px
		
.portfolio-container
	max-width 1170px
	margin 0 auto
	display flex
	flex-flow row wrap
	justify-content center
	align-items center
	
.portfolio__item
	margin 20px
	transition all .2s ease-in-out
			
.portfolio-grid
	padding 0
	list-style none
	display block
	text-align center
	width 100%

.ch-gridafter, .ch-itembefore
	content ''
    display table

.portfolio-grid::after
	clear both

.portfolio-grid li
	width 300px
	height 300px
	display inline-block
	margin 45px
	@media screen and (max-width: 600px)
		width 200px
		height 200px
		
.ch-info-wrap, .ch-info
	position absolute
	width 260px
	height 260px
	border-radius 50%
	@media screen and (max-width: 600px)
		width 160px
		height 160px

.ch-item
	width 100%
	height 100%
	border-radius 50%
	position relative
	box-shadow 0 1px 2px rgba(0,0,0,0.1)
	cursor default
	@media screen and (max-width: 600px)
		background-position center
		background-size cover
	
.ch-info-wrap
	top 20px
	left 20px
	box-shadow 0 0 0 20px rgba(255,255,255,0.2), inset 0 0 3px rgba(115,114, 23, 0.8)

.ch-info > div
	display block
	position absolute
	width 100%
	height 100%
	border-radius 50%
	background-position center center
	backface-visibility hidden

.ch-info-front 
	transition all 0.6s ease-in-out
	@media screen and (max-width: 600px)
		background-position center
		background-size cover
		transform scale(1.25)

.ch-info-back 
	height 100%
	opacity 0
	background #FFF
	pointer-events none
	transform scale(1.5)
	transition all 0.4s ease-in-out 0.2s

.title-item
	color $primary-text-color
	font-size 1em
	padding 40px 5px 0 5px
	height auto
	font-weight 300
	@media screen and (max-width: 600px)
		display none

.btn-item
	position absolute
	top 65%
	left calc(50% - 50px)
	color $primary-text-color
	font-size 1em
	padding 8px 16px
	border 1px solid #000
	border-radius 3px
	cursor pointer
	user-select none
	@media screen and (max-width: 600px)
		top 40%
		left calc(50% - 52px)


.ch-item:hover .ch-info-front
	transform scale(0)
	opacity 0

.ch-item:hover .ch-info-back 
	transform scale(1)
	opacity 1
	pointer-events auto

