@import '../../node_modules/nib/'
@import '../fonts/fonts.css'


//material colors
$dark-primary-color = #512DA8;
$primary-color = #673AB7; 
$light-primary-color = #D1C4E9;
$accent-color = #FF4081;
$primary-text-color = #212121;
$secondary-text-color = #727272;
$divider-color = #B6B6B6;
$bg-color = #FAFAFA;
$text-color = rgba(0,0,0,0.87);

//base height
$base-height = 32px;

//helpers
.no-padding
	padding 0
	margin 0
	
.paper-shadow-z1
	box-shadow 0 1px 6px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.12)!important
	
.paper-shadow-z2
	box-shadow 0 3px 10px rgba(0,0,0,0.16), 0 3px 10px rgba(0,0,0,0.23)!important
	
.paper-shadow-z3
	box-shadow 0 10px 30px rgba(0,0,0,0.19), 0 6px 10px rgba(0,0,0,0.23)!important
	
.paper-shadow-z4
	box-shadow 0 14px 45px rgba(0,0,0,0.25), 0 10px 18px rgba(0,0,0,0.22)!important
	
.paper-shadow-z5
	box-shadow 0 19px 60px rgba(0,0,0,0.3), 0 15px 20px rgba(0,0,0,0.22)!important
	
.line-clamp
	overflow hidden
	display -webkit-box
	-webkit-line-clamp 10
	-webkit-box-orient vertical
	text-overflow ellipsis
    
body
	background $bg-color
	font-family 'Roboto'
	font-smoothing antialiased
	overflow-scrolling touch
	overflow-y scroll

a, a:hover, a:active, a:focus
	outline none
	text-decoration none

.container-fluid
	background $bg-color
	padding 0
	
.header-fixed
	position fixed
	width 100%
	z-index 9
	
.position-fixed
	position fixed
	
.md-sidenav-backdrop
	position fixed

.header
	background $primary-color
	height $base-height * 2
	max-height $base-height * 2
	@media screen and (max-width: 600px)
		height ($base-height * 2) - 8
		max-height ($base-height * 2) - 8
	
.logo
	height 46.6666px
	width 171.3333px
	background-image url(../../img/logo.png)
	background-size cover
	background-repeat no-repeat
	background-position center
	@media screen and (max-width: 960px)
		height 35px
		width 128.5px

.header__links
	display: flex;
	align-items: center;
	flex-direction: row;
	@media screen and (max-width: 600px)
		display none

.header-menu
	@extend .header
	background-color #FFF
	color $secondary-text-color
	text-transform uppercase
	letter-spacing 3px
	cursor default
	
.logo--invert
	background-image url(../../img/logo-black.png)
	
.menu__item, menu__item:hover, menu__item:focus, menu__item:active
	color $primary-text-color!important

.social
	padding 8px
	display flex
	flex-direction row
	flex-wrap nowrap
	justify-content space-between
	
.social__btn
	width 40px
	height 40px
	margin 8px
	border-radius 50%
	cursor pointer
	background-size cover
	background-repeat no-repeat
	background-position center
	
.social__btn:hover
	background-size cover
	background-repeat no-repeat
	background-position center
	
.social__btn--vk
	background-image url(../../img/social/vk.png)
	
.social__btn--ok
	background-image url(../../img/social/ok.png)
	
.social__btn--fb
	background-image url(../../img/social/fb.png)
	
.social__btn--tw
	background-image url(../../img/social/tw.png)

.container
	box-sizing border-box
	margin 0 auto
	padding-bottom $base-height
	padding-top ($base-height * 2) + 8
	@media screen and (max-width: 600px)
		padding-top ($base-height * 2)
		
.card
	display block
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	
.card:hover
	@extend .paper-shadow-z3
	
.card__action
	padding 8px
		
.md-primary
	color $accent-color!important

.card__anonce
	max-height 13em
	@extend .line-clamp

.wrapper
	opacity 0
	transition opacity 0.6s ease-in-out

.smoothOpacity
	opacity 1

.fab-container
	position fixed
	bottom 20px
	right 20px
	@media screen and (max-width: 600px)
		bottom 10px
		right 10px
	
.fab-rotate
	transform rotate(45deg)

.fab
	background-color $accent-color
	
.fab:hover
	@extend .paper-shadow-z1
	
.fab-icon
	transition all .2s ease-in-out
	
.fab-icon-hover
	@extend .fab-rotate
	transition all .2s ease-in-out
		
.fab-mini-icon
	color $secondary-text-color!important

.cover-post
	display flex
	flex-direction row
	flex-wrap wrap
	justify-content center
	align-items center
	width 100%
	height 550px
	position relative
	margin-top ($base-height * 2)
	background-repeat no-repeat;
	background-size cover
	background-position center
	transition height .2s ease-in-out
	@media screen and (max-width: 600px)
		margin-top ($base-height * 2) - 8
		height 200px
		
.cover-post::after
	content ''
	width 100%
	height 550px
	position absolute
	top 0
	left 0
	background-color #000
	opacity 0.5
	transition height .2s ease-in-out
	@media screen and (max-width: 600px)
		height 200px

.cover-post__title
	color #FFF
	z-index 1
	font-weight 700
	transition font-size .2s ease-in-out
	@media screen and (max-width: 600px)
		font-size 2em
	
.post-content
	padding 40px 5% 40px 5%
	font-family 'Lora', serif
	font-size 1.5em
	color $primary-text-color
	line-height 32px
	transition font-size .2s ease-in-out
	@media screen and (max-width: 600px)
		font-size 1em
		line-height 22px
	
.post-content p
	margin-bottom 25px
	


    
    
    
    
    
    
    
    
    
    
    
	
	
	